altair
ansihtml
anyio
anywidget
appdirs
appnope
arro-core
asgiref
asttokens
async-lru
attrs
babel
beautifulsoup
bleach
blinker
boltons
brotlicffi
buildpost
CacheControl
certifi
cffi
charset-normalizer
click
click-default-group
comm
conda_lock
contourpy
crashtest
cycler
dash
debugpy
decorator
defusedxml
distlib
dulwich
ensureconda
executing
fastjsonschema
filelock
Flask
Flask-Compress
fonttools
gitdb
GitPython
h
htmltools
idna
importlib_metadata
iniconfig
installer
itsdangerous
jedi
json
jsonschema
jsonschema-specifications
keyring
kiwisolver
linkify-it-py
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdit-py-plugins
mdurl
mistune
more-itertools
msgpack
narwhals
nbclient
nbconvert
nbformat
nest-asyncio
notebook_shim
numexpr
numpy
orjson
overrides
packaging
pandas
pandocfilters
parso
patsy
pexpect
pillow
pip
pkginfo
platformdirs
plotly
pluggy
prometheus_client
prompt-toolkit
psutil
psygnal
ptyprocess
pure-eval
pycparser
pydantic
pydantic_core
Pygments
pyparsing
pyproject_hooks
PySocks
pytest
python-dateutilpost
python-json-logger
python-multipart
pytz
PyYAML
pyzmq
questionary
referencing
requests
requests-toolbelt
retrying
rfc-validator
rfc-validator
ridgeplot
rpds-py
ruamelyaml
ruamelyamlclib
scipy
seaborn
semver
SendTrash
setuptools
shellingham
shiny
shinywidgets
six
smmap
sniffio
soupsieve
stack-data
starlette
statsmodels
tabulate
terminado
tinycss
tomlkit
tornado
traitlets
typing_extensions
typing-inspection
uc-micro-py
unicodedata
urllib
uvicorn
vegafusion
virtualenv
watchfiles
wcwidth
webencodings
websocket-client
websockets
Werkzeug
wheel
widgetsnbextension
wrapt
xattr
zipp
zstandard
